.header {
  width: 100%;
  height: 44px;
  background: #EB3B47;
  display: flex;
  align-items: center;
}

.header label {
  height: 100%;
  line-height: 44px;
  position: relative;
  flex: 1;
}

.header label input {
  width: 100%;
  height: 30px;
  text-align: center;
  border: 0;
  border-radius: 8px 8px;
}

.header label i.icon {
  left: 50%;
  top: 5px;
  margin-left: -90px;
  position: absolute;
}

.header span:nth-child(1) a {
  color: #fff;
}

.header span i.icon {
  color: #fff;
  margin: 0 8px;
}

nav {
  width: 100%;
  height: 50px;
}

nav ul {
  border-bottom: 1px solid #D3D3D3;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

nav ul li {
  color: #636363;
  text-align: center;
  flex: 1;
}

nav ul li i.icon {
  color: #D4D4D4;
  margin-left: 4px;
}

.section {
  flex: 1;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list {
  width: 100%;
}

.list li {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 160px;
}

.list li dl {
  padding: 0 10px;
  display: flex;
}

.list li dl dt {
  flex: 4;
}

.list li dl dt > img {
  width: 100%;
}

.list li dl dt span img {
  flex: 1;
}

.list li dl dt span {
  height: 22px;
  display: flex;
}

.list li dl dt span img {
  width: 20px;
  margin: 0 2px;
}

.list li dl dd {
  padding-left: 10px;
  flex: 6;
}

.list li dl dd h4 {
  font-weight: 400;
}

.list li dl dd h4 span {
  color: #CE4950;
}

.list li dl dd h4 a {
  color: #CE4950;
  background: #FEEAE9;
  font-size: 12px;
  padding: 0 4px;
  margin-left: 8px;
}

.list li dl dd p {
  color: #A2A2A2;
}

.list li dl dd h5 {
  color: #A2C1D1;
}

.list li dl dd h5 span {
  margin: 0 5px;
  background: #EFF5FA;
  padding: 1px 2px;
}
